@model ToDoApp.ConfigurationModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ConfigurationModel.AppName</h1>
    <h5> @ConfigurationModel.TodaysDate()</h5>
</div>
